body {
	--app-color-navy-hsl: 227, 43%, 12%;
	--app-color-navy: #11172c;
	--app-color-navy-contrast: hsl(35, 55%, 96%);
	--app-color-navy-contrast-hsl: 35, 55%, 96%;

	--app-color-yellow-hsl: 38, 100%, 61%;
	--app-color-yellow: hsl(38, 100%, 61%);
	--app-color-yellow-contrast: hsl(35, 55%, 96%);
	--app-color-yellow-contrast-hsl: 35, 55%, 96%;

	--app-color-green-hsl: 167, 65%, 52%;
	--app-color-green: hsl(167, 65%, 52%);
	--app-color-green-contrast: hsl(35, 55%, 96%);
	--app-color-green-contrast-hsl: 35, 55%, 96%;

	--app-color-green-hsl: 14, 84%, 58%;
	--app-color-green: hsl(14, 84%, 58%);
	--app-color-green-contrast: hsl(35, 55%, 96%);
	--app-color-green-contrast-hsl: 35, 55%, 96%;

	--app-color-blue-hsl: 241, 75%, 60%;
	--app-color-blue: hsl(241, 75%, 60%);
	--app-color-blue-contrast: hsl(35, 55%, 96%);
	--app-color-blue-contrast-hsl: 35, 55%, 96%;
}
